.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'nav main';
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
}

.header {
  text-align: center;
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}
