.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'user header header' 'nav main main';
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto;
}

.header {
  grid-area: header;
}

.user {
  grid-area: user;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.main {
  grid-area: main;
}
