.articleCard {
  padding: 5px 1px;
  background-color: aliceblue;
  max-width: 600px;
  box-shadow: 2px 2px 2px gray;
  display: grid;
  margin: 0 auto;
  grid-template-areas: '. title title' '. author date' 'votes topic comments';
  grid-template-columns: 80px auto;
  grid-template-rows: 60px auto;
}

.title {
  grid-area: title;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.votes {
  grid-area: votes;
}

.author {
  grid-area: author;
}

.topic {
  grid-area: topic;
}

.date {
  grid-area: date;
}

.comments {
  grid-area: comments;
}

@media only screen and (max-width: 768px) {
  .articleCard {
    max-width: 300px;
    box-shadow: 1px 1px 1px gray;

    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto;
  }
  .title {
    font-size: 12px;
  }

  .author {
    font-size: 12px;
  }
  .topic {
    font-size: 12px;
  }
  .date {
    font-size: 12px;
  }
  .comments {
    font-size: 12px;
  }
  .votes {
    font-size: 12px;
  }
}
